<html>
<head>
<style type="text/css">
.pictures {
background-color:rgba(248,248,248,0.3);
width:220px;
height:400px;
position:absolute;
right:12%;
top:15%;
}
.gallery{
margin-top:10px;
}
li img{
width:120px;}
.pic-1 {
list-style:none;
padding: 10px 10px 10px 10px;
background: #eee;
float: left;
border: 1px solid #fff;
-moz-box-shadow: 15px 15px 15px #333;
position: relative;
｝

</style>
<title>欢迎</title>
</head>
<body>
<div id="Layer1" style="position:fixed; width:100%; height:100%; z-index:-1;left:0px;top:0px;">    
	<img src="back.jpg" height="100%" width="100%"/>   
</div> 
<div style="position:absolute;left:15%;top:35%;width:20%;height:40%;background-color:rgb(255,255,255);">
	<p style="color:rgb(192,192,192);margin-top:5px;margin-bottom:5px;text-align:center" >我的贴身相册</p>
	<img src="hot.jpg" style="width:100%;height:88%;top:2px;margin-top:0px;">
</div>
<div style="width:300px;position:absolute;left:35%;top:37%;">
	<a href="" style="display:block;
width:100%;font-size:40px;
font-weight:bold;
color:rgb(144,144,144) ;
background-color:rgba(248,248,248,0.3);
text-align:center;
padding:4px;
text-decoration:none;" >
	我的照片</a></br>
	<a href="" style="display:block;margin-top:40px;
width:100%;font-size:40px;
font-weight:bold;
color:rgb(144,144,144) ;
background-color:rgba(248,248,248,0.3);
text-align:center;
padding:4px;
text-decoration:none;" >
	上传照片</a>
	
</div>
<div class="pictures">
<ul class="gallery">
<li class="pic-1"><img src="1.jpg"></li>
<li class="pic-1"><img src="2.jpg"></li>
<li class="pic-1"><img src="3.jpg"></li>
<li class="pic-1"><img src="4.jpg"></li>
</ul>
</div>
<p style="font-size:400%;color:white;position:absolute;left:15%;top:2%">
相册管理助手
</p>



</body>
</html>