<html>
<head>
<meta charset="utf-8" /> 
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no"> 
<link rel="stylesheet" type="text/css" href="/static/css/page.css" />
<link rel="stylesheet" type="text/css" href="/static/buttons/buttons.css" />
<style type="text/css">
.alsp{ font-family:"楷体"}
.pictures {
background-color:rgba(248,248,248,0.1);
width:220px;
height:420px;
position:absolute;
left:940px;
top:120px;
}
.gallery{
position:relative;
margin-top:10px;
left:40px;
}
li img{
width:120px;}
.pic-1 {
list-style:none;
padding: 10px 10px 10px 10px;
background-color:rgba(0,0,0,0.2);
float: left;
-moz-box-shadow: 15px 15px 15px #333;
position: relative;
｝
p.font{font-family:STHUpo}
</style>
<title>欢迎</title>
</head>
<body>
<div id="Layer1" style="position:fixed; width:100%; height:100%; left:0px;top:0px;">    
	<img src="/static/background.jpg" height="100%" width="100%"/>   
</div> 
<div style="position:absolute;left:180px;top:140px;width:300px;height:300px;background-color:rgba(0,0,0,0.1);">
	<p style="color:rgb(255,255,255);margin-top:5px;margin-bottom:5px;text-align:center" >by:李润,马欢欢,孙云鹏</p>
	<img src="/static/suidao.jpg" style="width:100%;height:88%;top:5px;margin-top:5px;">
</div>
<div style="width:300px;position:absolute;left:480px;top:200px;" >
	<a href="/mypic" style="display:block;
width:100%;font-size:40px;
font-weight:bold;
color:rgb(0,0,0) ;
background-color:rgba(248,248,248,0.8);
text-align:center;
padding:4px;
text-decoration:none;" class="button blue medium">
	我的照片</a></br>
	<form style="display:block;
width:100%;font-size:40px;
font-weight:bold;
color:rgba(0,0,0) ;
background-color:rgba(248,248,248,0.3);
text-align:center;
padding:4px;
text-decoration:none;" action="" method="post" enctype="multipart/form-data" class="button blue medium">
	{% csrf_token %}
	<a style="width:100%;font-size:40px;
font-weight:bold;
rgba(248,248,248,0.3);
color:rgb(51,51,153) ;
text-align:center;
text-decoration:none;" >上传照片</a></br>
	<a style="width:100%;font-size:20px;
font-weight:bold;
color:rgb(51,51,153) ;
text-align:center;
text-decoration:none;">（可同时选中多张图片）</a></br>
	<input type="file" accept="image/*" name="images" multiple="">
	<input type="submit" value="确认上传" /> 
	</form> 
	
</div>
<div class="pictures">
<ul class="gallery">
<li class="pic-1"><img src="/static/seastar.jpg"></li>
<li class="pic-1"><img src="/static/haitun.jpg"></li>
<li class="pic-1"><img src="/static/shuimu.jpg"></li>
<li class="pic-1"><img src="/static/yuqun.jpg"></li>
</ul>
</div>
<div class="alsp">
<p class="font" style="font-size:400%;color:white;position:absolute;left:300px;top:30px;width:400px">
相册管理助手
</p>
</div>
{% if up %}

	{% if flag %}
			<p style="color:red;position:absolute;left:500px;top:430px;width:400px">
上传成功
</p>
	{% else %}
			<p style="color:red;position:absolute;left:500px;top:430px;width:400px">上传成功(存在无法获取地理位置信息的照片)！</p>
	{% endif %}
{% else %}

{% endif %}


</body>
</html>